<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - HoneypotCRMS4</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/HoneypotCRMS4.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/all.css">
    <link rel="stylesheet" href="~/css/companies.css">
	<link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/quotes.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/invoices.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/orders.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/da3cf4b93f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
			<nav class="carrotsuite-nav">
				<div class="logo">
					<a class="active nav-item" href="index.html"><img src="~/images/crmLogo.png"></a>
				</div>
				<div class="icons left"></div>
				<div class="icons right">
					<a class="nav-item" href="#">
					<div class="badge">
						<span>5</span>
					</div><i class="far fa-bell"></i></a> <a class="nav-item" href="#"><i class="far fa-envelope"></i></a> <a class="nav-item" href="#"><i class="fas fa-search"></i></a>
				</div>
				<div class="user" id="user">
					<a class="user-link" href="#">Kristians</a>
					<div class="user-img-wrapper"><img alt="User 1" src="~/images/User%20Basic%20Straight%20Lineal.png"></div>
				</div>
			</nav><!-- end of feeds navigation -->
</header>
		<main class="main">
			<section class="sidebar">
				<h3>Customer Portal</h3><img id="logoSidebar" src="~/images/logo.png">
				<ul class="menu">
					<li>
						<a class="active" href="index.html" title="Home"><img alt="" id="quotesLogo" src="~/images/home.png"> <span>Home</span></a>
					</li>
					<li>
						<a href="~/User" title="Users"><img alt="" id="quotesLogo" src="~/images/users.png"> <span>Users</span></a>
					</li>
					<li>
						<a href="~/Client" title="Companies"><img alt="" id="quotesLogo" src="~/images/companies.png"> <span>Companies</span></a>
					</li>
					<li>
						<a href="~/Order" title="Orders"><img alt="" id="quotesLogo" src="~/images/orders.png"> <span>Orders</span></a>
					</li>
					<li>
						<a href="~/Invoice" title="Invoices"><img alt="" id="quotesLogo" src="~/images/invoices.png"> <span>Invoices</span></a>
					</li>
					<li>
						<a href="~/quote" title="Quotes"><img alt="" id="quotesLogo" src="~/images/quotes.png"> <span>Quotes</span></a>
					</li>
					<li>
						<a href="~/login" title="Login"><img alt=""> <span>Login</span></a>
					</li>
				</ul>
			</section>




        @RenderBody()

	</main>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>