<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login</title>
    <link href="~/css/all.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/companies.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        @RenderBody()
    </div>
</body>
</html>

